include nn4mc/generator/code_generator/templates/c_standard/include/*.template
include nn4mc/generator/code_generator/templates/c_standard/include/layers/*.template
include nn4mc/generator/code_generator/templates/c_standard/src/layers/*.template
include nn4mc/generator/code_generator/templates/c_standard/src/*.template
